
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.6) 50%),url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">
  <div class="banner-content">
    <div class="container padded">
      <h3 class ="text-center"><%=@cocktail.name%></h3>
      <div class="row">
        <% @cocktail.doses.each do |dose| %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <h2><%= "#{dose.description} of #{dose.ingredient.name}" %></h2>
        </div>
        <% end %>
        <div class= "text-center">
          <div class="col-xs-6 col-sm-4 col-sm-offset-4">
            <div class = "form">
              <%= simple_form_for [@cocktail, @dose] do |f| %>
              <%= f.input :ingredient_id, prompt: "Choose Ingredient", collection: Ingredient.all.map { |i| [i.name.capitalize, i.id] }  %>
              <%= f.input :description, placeholder: "Add Ingredient"  %>
              <%= f.button :submit, class: "btn btn-primary btn-green" %>
              <%= link_to "Delete", cocktail_path(@cocktail), method: :delete, class: "btn btn-primary btn-green" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





